flask
python-dotenv
google-genai
feedparser
trafilatura
beautifulsoup4
python-slugify
tweepy
requests
google-cloud-texttospeech
gunicorn
pytz
moviepy
flask-admin
flask-login
google-auth
google-auth-httplib2
httplib2
pytest
duckduckgo-search
